header a:any-link,
footer a:any-link {
  color: var(--highlight);
  text-decoration: none;
}

header a:any-link:hover,
footer a:any-link:hover {
  text-decoration: underline;
}

header ul {
  margin: 0;
}

.nav {
  position: relative;
}

.nav a.toggle:any-link {
  display: block;
  padding: 3px 0 0 0;
  height: 46px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.nav a.toggle.selected:any-link {
  text-decoration: none;
  font-style: italic;
  opacity: 1;
}

.nav a.toggle::before {
  content: "ð„ž";
}

.nav > ul {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  flex-wrap: wrap;
  list-style: none;
  user-select: none;
  background-color: var(--nav);
  z-index: 1; /* make sure nav stays on top */
}

.nav.open > ul {
  display: flex;
}

.nav > ul > li {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.75em 0;
  white-space: nowrap;
}

.nav > ul a:any-link {
  padding: 1rem;
  opacity: 0.75;
}  

.nav > ul a:any-link:hover,
.nav > ul a.selected:any-link {
  opacity: 1;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  /* always show nav in sidebar */

  .nav {
    padding-top: 3.7rem;
    text-align: center;
  }

  .nav::before {
    content: "ð„ž";
    font-size: 2.5rem;
  }
  .nav a.toggle:any-link {
    display: none;
  }


  .nav > ul,
  .nav.open > ul {
    display: flex;
    padding: 1rem;
  }

  .nav > ul > li,
  .nav.open > ul > li {
    display: unset;
    font-size: 1rem;
  }
}
